{% extends 'shop/product/detail.html' %}
{% load humanize %}
{% block title %}Your Shopping Cart{% endblock %}
{% load static %}

{% block right_panel %}
<div>empty</div>
{% endblock %}
{% block content %}

<div class="container">
	{% with total_items=cart|length %}
	{% if total_items > 0 %}
	<h1>Your Cart</h1>
	<table class="table-responsive">
		<thead>
			<!-- <th>Image</th> -->
			<th>Product</th>
			<th>Quantity</th>
			<th>Remove</th>
			<!-- <th>Unit Price</th> -->
			<th>Price</th>
		</thead>
		<tbody>
			{% for item in cart %}
			  {% with product=item.product %}
			  <tr>
			  	<!-- <td> -->
			  		<!-- <a href="{{ product.get_absolute_url }}"> -->
			  			<!-- <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"> -->
			  		<!-- </a> -->
			  	<!-- </td> -->
			  	<td class="cart-thumb">
			  		<a href="{{ item.product.get_absolute_url }}">
						<img class="cart-thumbnail" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
						<p>{{ product.name|truncatewords:5 }}</p></a>
					</td>
			  	<td class="cart-thumb">
			  		<form action="{% url 'cart:cart_add' product.id %}" method="post">
			  			{{ item.update_quantity_form.quantity }}
			  			{{ item.update_quantity_form.override }}
			  			<input class="btn btn-info text-light" type="submit" value="Update">
			  			{% csrf_token %}
			  		</form>
			  	</td>
			  	<td class="cart-thumb">
			  		<form action="{% url 'cart:cart_remove' product.id %}" method="POST">
			  			{% csrf_token %}
			  			<!-- <input type="submit" value="Remove"> -->
			  			<button class="btn btn-danger">
			  				<svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="CurrentColor" xmlns="http://www.w3.org/2000/svg">
							  <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
							  <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
							</svg>
			  			</button>
			  		</form>
			  	</td>
			  	<!-- <td>{{ item.price }}</td> -->
			  	<td class="cart-thumb">&#8377;{{ item.total_price|intcomma }}</td>
			  </tr>
			  {% endwith %}
			{% endfor %}
			<tr class="total">
				<td>Total</td>
				<td colspan="2"></td>
				<td class="num">&#8377;{{ cart.get_total_price|intcomma }}</td>
			</tr>
		</tbody>
	</table><br>
	<p class="text-right">
		<a href="{% url 'shop:product_list' %}" class="btn btn-secondary btn-md">Continue Shopping</a>
		<a class="btn btn-primary btn-md" href="{% url 'orders:order_create' %}">Checkout</a>
	</p>
</div>
	{% else %}
	<div class="container">
      <div class="py-5 text-center">
        <h2>Your Cart is Empty</h2>
        <a href="{% url 'shop:product_list' %}" class="btn btn-secondary btn-md">Continue Shopping</a>
      </div>
	{% endif %}
	{% endwith %}

{% endblock %}
